@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.logoMenu {
  padding: 10px; }

.mainIndex {
  width: 100%; }

.carousel-inner {
  width: 100%;
  margin: 0; }

.imagenCarusel {
  width: 100%;
  height: 800px; }

.carousel-caption {
  right: 10%;
  left: auto;
  padding-bottom: 30px;
  width: 400px;
  background: rgba(0, 0, 0, 0.5);
  top: 40%;
  border-radius: 18px;
  bottom: auto; }

.tituloIndex {
  color: white;
  font-size: 20px;
  font-family: 'Allerta Stencil', sans-serif;
  text-align: center;
  background-image: linear-gradient(black, darkcyan);
  letter-spacing: 2px;
  font-weight: bold; }

.cuadroPrincipal {
  font-weight: bold;
  text-align: center; }

.indexContactame {
  width: 130px;
  height: 50px;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
  background-color: darkgoldenrod;
  transition: background-color 0.5s linear; }

.indexContactame:hover {
  opacity: 0.8; }

.contactame {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px; }

footer {
  background-color: #e4dcdc;
  width: 100%; }

.contenedor__footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row; }

.footer__redes .footer__informacion .footer__derechos {
  max-width: 450px; }

.footer__derechos--estilo {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; }

.redes__imagenes--estilo {
  width: 30px;
  height: 30px;
  margin-top: 5px; }

label {
  margin-top: 12px;
  margin-left: 10px; }

.redes__titulo--estilo {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; }

.redes__seguime--estilo {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; }

.informacion__contenido--estilo {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.mainServicios {
  width: 100%; }

.imagenservicios--tamaño {
  width: 100%;
  height: 800px; }

.contenedor__titulo {
  position: absolute;
  top: 50%;
  left: 35%; }

.servicios__titulo--estilo {
  background-color: rgba(167, 107, 184, 0.466);
  width: 400px;
  text-align: center;
  color: white;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 80px; }

.contenedor__servicios {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-left: 50px; }

.contenedor__imagenes {
  display: inline-block; }

.servicios__imagenes--estilo {
  width: 200px; }

.servicios__imagenes--estilo:hover {
  filter: opacity(0.5); }

.servicios__texto--estilo {
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-align: center; }

.parrafo__servicios--estilo {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 50px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.mainPortfolio {
  width: 100%; }

.imagenportfolio--tamaño {
  width: 100%;
  height: 800px; }

.contenedor__tituloportfolio {
  background-color: rgba(88, 84, 84, 0.514);
  position: absolute;
  top: 50%;
  left: 35%; }

.tituloPortfolio {
  width: 400px;
  text-align: center;
  color: white;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 80px; }

.fotosPortfolio {
  color: black;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 20px; }

.contenedorFotos {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem; }

.imagenesPortfolio {
  width: 100%;
  transform: .2s; }

.imagenesPortfolio:hover {
  transform: scale(1.4); }

.videosPortfolio {
  color: black;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 20px; }

.contenedor__video {
  position: relative;
  padding-bottom: 56.25%;
  /* proporción 16:9 */
  padding-top: 25px;
  height: 0; }

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.mainQuiensoy {
  width: 100%; }

.imagenquiensoy--tamaño {
  width: 100%;
  height: 800px; }

.contenedor__tituloquiensoy {
  position: absolute;
  top: 50%;
  left: 35%; }

.tituloquiensoy {
  background-color: rgba(20, 19, 19, 0.514);
  width: 400px;
  text-align: center;
  color: white;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 80px; }

.contenedor__imagenpersonal {
  padding: 25px; }

.imagenpersonal {
  width: 400px;
  display: block;
  margin: 0 auto; }

.quiensoy__texto {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center; }

.quiensoy__texto--estilo {
  color: black;
  text-align: center;
  margin: 20px; }

.quiensoy__icono--estilo {
  width: 50px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mainContacto {
  width: 100%;
  background-color: white; }

.contenedor__titulocontacto {
  margin-top: 100px; }

.fotologo--tamaño {
  width: 500px;
  margin: 0 auto; }

.titulocontacto--estilo {
  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; }

.contenedor__formulario .formulario {
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 50px;
  padding-bottom: 30px;
  border-radius: 3px; }

.contenedor__tituloformulario--estilo {
  font-weight: normal;
  font-family: sans-serif;
  color: darkorange; }

.contenedor__formulario .formulario .label__formulario--estilo {
  display: block;
  color: #ff851b;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative; }

.contenedor__formulario .formulario .input__formulario--estilo, .textarea__formulario--estilo {
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  color: white;
  font-family: Arial, Helvetica, sans-serif; }

.contenedor__formulario .formulario .textarea__formulario--estilo {
  resize: vertical;
  max-height: 150px;
  min-height: 50px; }

.contenedor__formulario .formulario .boton__formulario--estilo {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
  background: #ff851b;
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 15px 0;
  cursor: pointer;
  transition: all .5s ease; }

.contenedor__formulario .formulario .boton__formulario--estilo:hover {
  background: #f29718; }

/* index */
@media screen and (max-width: 1100px) {
  .contenedor__footer {
    flex-wrap: wrap; }
  .footer__redes {
    margin-top: 20px; }
  .footer__informacion {
    margin-top: 20px; }
  .carousel-caption {
    width: 300px;
    right: 5%; } }

/* Servicios */
@media screen and (max-width: 1100px) {
  .contenedor__servicios {
    flex-wrap: wrap; }
  .contenedor__titulo {
    top: 30%;
    left: 20%; }
  .servicios__titulo--estilo {
    font-size: 40px;
    width: 200px; }
  .imagenservicios--tamaño {
    height: auto;
    margin-top: 100px; } }

/* Portfolio */
@media (min-width: 600px) {
  .contenedorFotos {
    grid-template-columns: 2, 1fr; } }

@media (min-width: 900px) {
  .contenedorFotos {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 1100px) {
  .contenedor__tituloportfolio {
    top: 30%;
    left: 20%; }
  .tituloPortfolio {
    font-size: 40px;
    width: 200px; }
  .imagenportfolio--tamaño {
    height: auto;
    margin-top: 100px; } }

/* Quiensoy */
@media screen and (max-width: 1100px) {
  .contenedor__tituloquiensoy {
    top: 25%;
    left: 20%; }
  .quiensoy__texto {
    flex-direction: column; }
  .tituloquiensoy {
    font-size: 40px;
    width: 200px; }
  .imagenquiensoy--tamaño {
    height: auto;
    margin-top: 100px; } }

/* Contacto */
@media screen and (max-width: 1100px) {
  .contenedor__contacto {
    justify-content: column; } }
