@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.logoMenu {
  padding: 10px; }

.mainIndex {
  width: 100%; }

.carousel-inner {
  width: 100%;
  margin: 0; }

.imagenCarusel {
  width: 100%;
  height: 650px; }

.carousel-caption {
  right: 10%;
  left: auto;
  padding-bottom: 30px;
  width: 400px;
  background: rgba(0, 0, 0, 0.5);
  top: 40%;
  border-radius: 18px;
  bottom: auto; }

.tituloIndex {
  color: white;
  font-size: 20px;
  font-family: 'Allerta Stencil', sans-serif;
  text-align: center;
  background-image: linear-gradient(black, darkcyan);
  letter-spacing: 2px;
  font-weight: bold; }

.cuadroPrincipal {
  font-weight: bold;
  text-align: center; }

.indexContactame {
  width: 130px;
  height: 50px;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
  background-color: darkgoldenrod;
  transition: background-color 0.5s linear; }

.indexContactame:hover {
  opacity: 0.8; }

.contactame {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px; }

footer {
  background-color: #e4dcdc;
  width: 100%; }

.contenedor__footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: row; }

.footer__derechos--estilo {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; }

.redes__imagenes--estilo {
  width: 40px;
  padding: 10px;
  margin-top: 10px;
  margin: auto; }

.redes__titulo--estilo {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; }

.redes__seguime--estilo {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; }

.informacion__contenido--estilo {
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.mainServicios {
  width: 100%;
  margin: auto; }

.mainservicios__imagen--estilo {
  width: 100%;
  height: 600px; }

.contenedor__tituloservicios {
  background-color: rgba(243, 205, 205, 0.397);
  width: 200px;
  position: absolute;
  top: 50%;
  bottom: auto;
  right: 10%;
  left: auto; }

.tituloServicios {
  color: white;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 1er; }

.contenedor__servicios {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center; }

.contenedor__imagenes {
  display: inline-block; }

.servicios__imagenes--estilo {
  width: 200px; }

.servicios__texto--estilo {
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-align: center; }

.parrafo__servicios--estilo {
  color: black;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif; }

.mainPortfolio {
  background-color: #202020;
  width: 100%; }

.mainportfolio__imagen--estilo {
  width: 100%;
  height: 600px; }

.contenedor__tituloportfolio {
  background-color: rgba(243, 205, 205, 0.397);
  width: 200px;
  position: absolute;
  top: 50%;
  bottom: auto;
  right: 10%;
  left: auto; }

.tituloPortfolio {
  color: white;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 20px; }

.fotosPortfolio {
  color: white;
  text-align: left;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 20px; }

.contenedorFotos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 20%,20%;
  grid-gap: 5px; }

.imagenesPortfolio {
  width: 100%;
  transform: .2s; }

.imagenesPortfolio:hover {
  transform: scale(1.4); }

.videosPortfolio {
  color: white;
  text-align: left;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 20px; }

.mainQuiensoy {
  width: 100%;
  margin: auto; }

.mainQuiensoy__titulo--estilo {
  color: black;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 20px; }

.Quiensoy__imagen--tamaño {
  width: 300px;
  text-align: right; }

.quiensoy__texto {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  align-items: center; }

.quiensoy__texto--estilo {
  color: black;
  text-align: center; }

.quiensoy__icono--estilo {
  width: 50px; }

.mainContacto {
  width: 100%;
  background-color: #202020; }

.tituloContacto {
  color: white;
  text-align: center;
  font-family: 'Allerta Stencil', sans-serif;
  margin: 20px; }

.formContacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: darkcyan;
  border-radius: 10px;
  width: 610px;
  padding: 20px;
  margin: auto; }

.estiloFormulario {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 15px; }

input {
  border-radius: 5px;
  border: 1px solid black;
  width: 10em; }

textarea {
  vertical-align: top; }
