*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mainContacto{
    width: 100%;
    background-color: white;
}

.contenedor__titulocontacto{
    margin-top:100px;
}

.fotologo--tamaño{
    width:500px;
    margin: 0 auto;
}

.titulocontacto--estilo{
text-align: center;
font-size: 30px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
}

.contenedor__formulario .formulario{
    background-color: rgba(0,0,0,.6);
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 5px 35px;
    margin-top: 50px;
    padding-bottom: 30px;
    border-radius: 3px;
}

.contenedor__tituloformulario--estilo{
    font-weight: normal;
    font-family: sans-serif;
    color: darkorange;
}

.contenedor__formulario .formulario .label__formulario--estilo{
    display: block;
    color:#ff851b;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.contenedor__formulario .formulario .input__formulario--estilo, .textarea__formulario--estilo{
    background-color: rgba(0,0,0,.7);
    border: none;
    outline: none;
    border-bottom: 2px;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor__formulario .formulario .textarea__formulario--estilo{
    resize: vertical;
    max-height:150px ;
    min-height: 50px;
}

.contenedor__formulario .formulario .boton__formulario--estilo{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    background: #ff851b;
    font-size: 16px;
    border: none;
    color: #fff;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor__formulario .formulario .boton__formulario--estilo:hover{
    background: #f29718;
}