/* index */
@media screen and (max-width: 1100px){
    .contenedor__footer{
        flex-wrap:wrap;
    }

    .footer__redes {
        margin-top:20px;
    }

    .footer__informacion{
        margin-top:20px;
    }

    .carousel-caption{
        margin: 0 auto;
        width: 300px;
    }
}


/* Servicios */

@media screen and (max-width: 1100px){

    .contenedor__servicios{
        flex-wrap:wrap;
    }

    .contenedor__titulo{
            top: 50%;
            left: 25%;
        }
        .servicios__titulo--estilo{
            font-size:40px;
            width: 200px;
        }
}

/* Portfolio */


@media (min-width: 600px){
    .contenedorFotos{
        grid-template-columns: (2,1fr);
    }
}

@media (min-width: 900px) {
    .contenedorFotos { grid-template-columns: repeat(3, 1fr); }
  }

  @media screen and (max-width: 1100px){
    .contenedor__tituloportfolio{
        top: 50%;
        left: 25%;
    }
    .tituloPortfolio{
        font-size:40px;
        width: 200px;
    }
  }

/* Quiensoy */

@media screen and (max-width: 1100px){
.contenedor__tituloquiensoy{
    top: 20%;
    left: 20%;}

   .quiensoy__texto{
      flex-direction: column;
   } 

   .contenedor__tituloquiensoy{
    top: 50%;
    left: 25%;
}
.tituloquiensoy{
    font-size:40px;
    width: 200px;
}
}

/* Contacto */

@media screen and (max-width: 1100px){
    .contenedor__contacto{
        justify-content: column;
    }

}