/* index */
@media screen and (max-width: 1100px){
    .contenedor__footer{
        flex-wrap:wrap;
    }

    .footer__redes {
        margin-top:20px;
    }

    .footer__informacion{
        margin-top:20px;
    }

    .carousel-caption{
        width: 300px;
        right: 5%;
    }

}


/* Servicios */

@media screen and (max-width: 1100px){

    .contenedor__servicios{
        flex-wrap:wrap;
    }

    .contenedor__titulo{
            top: 30%;
            left: 20%;
        }
        .servicios__titulo--estilo{
            font-size:40px;
            width: 200px;
        }

        .imagenservicios--tamaño{
            height: auto;
            margin-top: 100px;
        }
}

/* Portfolio */


@media (min-width: 600px){
    .contenedorFotos{
        grid-template-columns: (2,1fr);
    }
}

@media (min-width: 900px) {
    .contenedorFotos { grid-template-columns: repeat(3, 1fr); }
  }

  @media screen and (max-width: 1100px){
    .contenedor__tituloportfolio{
        top: 30%;
        left: 20%;
    }
    .tituloPortfolio{
        font-size:40px;
        width: 200px;
    }

    .imagenportfolio--tamaño{
        height: auto;
        margin-top:100px;
    }
  }

/* Quiensoy */

@media screen and (max-width: 1100px){
.contenedor__tituloquiensoy{
    top: 25%;
    left: 20%;}

   .quiensoy__texto{
      flex-direction: column;
   } 

.tituloquiensoy{
    font-size:40px;
    width: 200px;
}

.imagenquiensoy--tamaño{
    height: auto;
    margin-top:100px;
}
}

/* Contacto */

@media screen and (max-width: 1100px){
    .contenedor__contacto{
        justify-content: column;
    }

}