*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
}
.mainPortfolio{
    width: 100%;
}

.imagenportfolio--tamaño{
    width:100%;
    height: 800px;
}
.contenedor__tituloportfolio {
    background-color: rgba(88, 84, 84, 0.514);
    position: absolute;
    top: 50%;
    left: 35%;
}

.tituloPortfolio{
    width: 400px;
    text-align: center; 
    color: white;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 80px;  
}

.fotosPortfolio{
    color:black;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    margin: 20px;
}

.contenedorFotos{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    
}

.imagenesPortfolio{
    width: 100%;
    transform: .2s;
}

.imagenesPortfolio:hover{
    transform: scale(1.4);
}


.videosPortfolio{
    color:black;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    margin: 20px;
}

.contenedor__video {
	position: relative;
	padding-bottom: 56.25%; /* proporción 16:9 */
	padding-top: 25px;
	height: 0;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}