.mainPortfolio{
    width: 100%;
}

.mainportfolio__imagen--estilo{
    width: 100%;
    height: 600px;
}

.contenedor__tituloportfolio{
    background-color: rgba(243, 205, 205, 0.397);
    width: 200px;
    position: absolute;
    top: 50%;
    bottom: auto;
    right: 10%;
    left: auto;
}
.tituloPortfolio{
    color: white;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    margin: 20px;
}

.fotosPortfolio{
    color:black;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    margin: 20px;
}

.contenedorFotos{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.imagenesPortfolio{
    width: 100%;
    transform: .2s;
}

.imagenesPortfolio:hover{
    transform: scale(1.4);
}


.videosPortfolio{
    color:black;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    margin: 20px;
}

.contenedor__video {
	position: relative;
	padding-bottom: 56.25%; /* proporción 16:9 */
	padding-top: 25px;
	height: 0;
}

iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}