.mainQuiensoy{
    width: 100%;
    margin: auto;
}

.mainQuiensoy__titulo--estilo{
    color: black;
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    margin: 20px;
}

.Quiensoy__imagen--tamaño{
    width:300px;
    height:300px;
    border-radius:150px;

}
.quiensoy__texto{
display: flex;
justify-content: space-evenly;
align-content: center;
align-items: center;

}
.quiensoy__texto--estilo{
    color: black;
    text-align: center;
}

.quiensoy__icono--estilo{
    width: 50px;
}